/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.invisible{
    display: none;
    font-size: 12px !important;

}
.info{
    background-color: #fff;
    border-radius:15px;
    display: flex;
    padding:10px;
    box-shadow: 0px 0px 50px 5px rgba(180,179,179,0.6);
    -webkit-box-shadow: 0px 0px 50px 5px rgba(180,179,179,0.6);
    -moz-box-shadow: 0px 0px 50px 5px rgba(180,179,179,0.6);
}
a{
    text-decoration: none;
    color:#000;
}
p{
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
   
}

.title{
    text-align: center;
    font-family: 'Caveat', cursive;
 }
 #left{
    text-align: left !important;
    margin:10px;
 }

  #right{
    text-align: right !important;
    margin:10px;
 }

/* header */

header{
    display: flex;
    flex-direction: column;
    height:15%;
}

    /* header image / buttons*/
    .container_all_buttons{
        height:70%;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
    }
    .logo{
      margin: 20px;
      width:5%;
      height: 10vh;
      border-radius: 50%;
    }
 
    .buttons{
     display: flex;
     flex-direction: row;
     align-items: center;

    }

    .full_btn{
        width:100px !important;
        margin: 5px;
    }
    .short_btn{
      width: 30px !important;
      border-radius: 5px !important;
      margin: 5px;
    }
     /* header title*/
     
     .container_name{
        height: 30%;
        margin-bottom: 30px;
     }

     .page_title{
        text-align: center;
        font-size: 60px;
     }

/* main */

.center_all-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width: 80%;
}
    /* main first block*/
    
    .image-info-button{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;      
    }
    .image-info-button img{
        max-width:100vh;
        border-radius: 20px;
    }
    .welcome_block {
       position: absolute;
        max-width:40%;
        height: 300px;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
 

    .welcome_block button{
        margin: auto;
    }

    /* main functions*/

 

    .functions_of_app{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    
    }

    .function{

        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .function_block{
   
        max-width:80%;
        height:300px;
        display: flex;
        flex-direction:row;
        align-items: center;
        margin:40px;
    }

    .function_info{
        width: 50%;
        display: flex;
        flex-direction: column;
   
     
    }




    .image_function{
        width: 50%;
        height: 90%;
   
    }

    .image_function img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    /* main last block */
    .button_image{

        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:40px;


    }

    .button_image img{
        margin:20px 0;
        width:100%;
        height:400px;
       
    }

/* footer */
footer{

    background-color: #61A3D5;
    height: 150px;
    display: flex;
    flex-direction:row ;
}
    /* footer  contact*/
    .contact_info{
     width: 50%;
     display: flex;
     flex-direction: column;
    }
        .email{
            width: 100%;
            height: 50%;
        }
       
        .footer-contact-info{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .footer-contact-info p{
         font-size: 16px;
         margin: 0;
         text-align: left !important;
        }
        #align-left{
            align-items: start;
        }
    /* footer TERMS*/
    .privacy_terms{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
        .space_footer_terms{
            height: 50%;
        }
        .terms_list{
            height: 50%;
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: end;
        }
        .terms_list ul{
            display: flex;
            flex-direction: row;
            list-style: none;
        }
        .terms_list ul li{
          margin: 20px;
        }
        

       




        .content{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
         max-width: 800px;
         height: 90vh; ;
         background-color:#61A3D5;
         border-radius: 20px;
        }