@media (max-width: 1060px) {
 

    .welcome_block{
       max-width: 40% ;
       max-height: 300px ;
    }
  }
@media (max-width: 860px) {
    p{
        font-size: 16px;
        text-indent: 1px;
    }
    .function_info p {
      font-size: 10px;
    }

  
  }
  
  @media (max-width: 700px) {
    p{
        font-size: 14px;
        text-indent: 1px;
    }

    .image-info-button img{
        width:75vh !important;
    }
    .button_image img{
        width:70vh;
    }

    footer{
        font-size: 12px;
    }
    #left{
        font-size: 12px;
    }
  }
  

  @media (max-width: 580px) {
    .image-info-button img{
        width:70vh !important;
    }

    .button_image img{
        width:70vh;
    }
    footer{
        font-size: 10px;
    }
    #left{
        font-size: 10px;
    }
    .welcome_block p{
        font-size: 12px;
    }

    
  }
  
  
  @media (max-width: 460px) {
    .image-info-button img{
        margin-top: 20px;
        max-width:50vh !important;
    }


    .button_image img{
        max-width:350px;
    }
    .function_block{
        max-width:500px !important;
        margin:10px 0;
    }    .invisible{
        display:flex;
    
    }
    .welcome_block{
        display:none;
    }
  
  }

    
  @media (max-width: 420px) {
    .image-info-button img{
        max-width:300px !important;
    }

 
  }
  
      
  @media (max-width: 320px) {
    .image-info-button img{
        max-width:250px !important;
    }

    .function_block{
        max-width:290px !important;
        margin:10px 0;
        flex-direction: column;
    }
    .button_image img{
        max-width:290px;
    }
    footer{
        font-size: 8px;
    }
    .function_info p {
        display: none;
    }

    .image_function{
        width:100%;
    }
  }
  
  
  @media (max-width: 275px) {
    .image-info-button img{
    
        max-width:200px !important;
    }

    .function_block{
        max-width:250px !important;
        margin:10px 0;
    }
    .button_image img{
        max-width:250px;
    }
    footer{
        font-size: 6px;
    }
    #left{
        font-size: 7px;
    }

  }
  
  