
<div class="contact_info">
    <div class="email footer-contact-info">
        <h4 id="left">Email:</h4>
       
        <p id="left"> <a href="mailto:tomasalmanzarparra@gmail.com">tomasalmanzarparra@gmail.com</a></p>
    </div>
    <div class="phone footer-contact-info">
        <h4 id="left">Phone:</h4>
        <p id="left">+507 62176635</p>
    </div>
</div>
<div class="privacy_terms">
    <div class="space_footer_terms"></div>
    <div class="terms_list">
        <ul>
            <li><a href="">Privacy Terms</a></li>
            <li><a href="">Privacy Terms</a></li>
            <li><a href="">Terms of Use</a></li>
        </ul>
    </div>
</div>
