<div class="center_all-container">

    <div class="image-info-button">

        <p class="invisible">
            Get ready to discover a one-of-a-kind experience that will revolutionize how you organize your
            tasks and cultivate positive habits. We're here to help you break free from stress and enhance
            your well-being through our intuitive and personalized tools.
            Along your journey, you'll have the opportunity to connect with like-minded individuals who
            share your mindset or even surpass it.
        </p>

        <img src="{{url_for('static', filename= 'img/portada.jpg')}}" alt="">


        <div class="welcome_block info ">
            <p>
                Get ready to discover a one-of-a-kind experience that will revolutionize how you organize your
                tasks and cultivate positive habits. We're here to help you break free from stress and enhance
                your well-being through our intuitive and personalized tools.
                Along your journey, you'll have the opportunity to connect with like-minded individuals who
                share your mindset or even surpass it.
            </p>

            <button class="button-17">Start your adventure</button>
        </div>

    </div>

    <div class="functions_of_app">

        <h2 class="title" style="font-size: 30px;">Functions</h2>

        <div class="function">


            <div class="function_block info ">

                <div class="function_info ">
                    <h2 class="title">Track & Achieve</h2>
                    <p id="right">
                        By joining our community and collaboration feature, you'll connect with like-minded
                        individuals who share your aspirations. Share your accomplishments, receive valuable
                        tips, and find the motivation you need to excel.
                    </p>

                </div>

                <div class="image_function">
                    <img src="{{url_for('static', filename= 'img/land.jpg')}}" alt="">
                </div>
            </div>

            <div class="function_block info ">
                <div class="image_function">
                    <img src="{{url_for('static', filename= 'img/land.jpg')}}" alt="">
                </div>

                <div class="function_info ">
                    <h2 class="title">Track & Achieve</h2>
                    <p id="left">
                        Set goals and track your progress. Record your daily tasks, long-term goals, and healthy
                        habits. IndEvo will provide you with visual tools and reminders to stay focused and
                        motivated on the path to success.
                    </p>

                </div>


            </div>


            <div class="function_block info ">

                <div class="function_info ">
                    <h2 class="title">Insights & Recommendations</h2>
                    <p id="right">
                        We use artificial intelligence to analyze your data and provide you with valuable insights. Get
                        detailed analysis of your habits and performance, discover patterns and trends, and receive
                        personalized recommendations to optimize your routines and achieve greater well-being.
                    </p>

                </div>

                <div class="image_function">
                    <img src="{{url_for('static', filename= 'img/land.jpg')}}" alt="">
                </div>
            </div>





        </div>


        <div class="button_image">
            <button class="button-17">Here we go for those habits!!</button>

            <img src="{{url_for('static', filename= 'img/land.jpg')}}" alt="">

        </div>

    </div>

</div>